.form__profile-info_input{
  margin: 0 0 30px;
  padding: 0;
  width: 238px;
  border: 0;
  height: 24px;
  box-sizing: border-box;
  border-bottom: 1px solid #000000;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
@media screen and (min-width: 1024px){
  .form__profile-info_input{
    width: 100%;
  }
}

